@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');

body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #202020;
    color: #ffffff;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

a {
    color: #1a73e8;
    text-decoration: none;
}